:root {
    --max-width: 1200px;
  }
  
  body {
    font-family: Roboto, sans-serif;
    background-color: #606060;
    color: #f1f1f1;
    font-size: 16px;
    display: flex;
    justify-content: center;
    flex-flow: wrap;
  }
  
  a {
    text-decoration: none;
    color: #f1f1f1;
  }
  
  hr {
    color: #f1f1f1;
  }
  
  h1 {
    font-size: 3rem;
    font-weight: bold;
  }

  h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1.2rem;
  }
  
  header {
    display: flex;
    height: 69px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #f1f1f1;
    position: fixed;
    z-index: 1;
    background-color: #404040;
    width: 100%;
  }
  
  header img {
    max-width: 69px;
    max-height: 69px;
  }
  
  .navlinks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .navlinks > li {
    margin: 0 0.8rem;
  }
  
  header a {
    color: #f1f1f1;
    text-decoration: none;
  }
  
  main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 20px;
  }
  
  .mission {
    padding-top: 90px;
    max-width: var(--max-width);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .mission img {
    height: 450px;
    opacity: 0.8;
    padding-right: 20px;
  }
  
  .missionstatement {
    display: flex;
    flex-direction: column;
  }
  
  .missionstatement p {
    padding-top: 20px;
    text-align: justify;
  }
  
  .missionstatement h1 {
    text-align: center;
  }
  
  .categories {
    display: flex;
    max-width: 1200px;
    padding: 10px;
    margin: 10px;
  }
  
  .recipecategories {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
  }
  
  .recipecategories img {
    height: 300px;
    width: 300px;
    object-fit: cover;
    opacity: 0.8;
  }
  
  .recipecategories div {
    margin: 0 10px 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .recipecategories label {
    font-size: 2rem;
    font-weight: bold;
    width: 100%;
    background-color: #404040;
    text-align: center;
  }
  
.recipes {
  max-width: 800px;
}

  .recipecards {
    padding-top: 60px;
  }
  
  .recipecards img {
    height: 100px;
    width: auto;
    opacity: 0.8;
    object-fit: cover;
    max-width: 100px;
    max-height: 100px;
  }
  
  .recipecards div {
    display: flex;
    flex-flow: row;
    margin-bottom: 1.2rem;
  }
  
  .recipecards span {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 10px;
  }
  
  .recipecards h5 {
    font-weight: bold;
    font-size: 1.25rem;
    padding-bottom: 10px;
  }

  .recipesection {
    display: flex;
    flex-direction: row;
    max-width: 1000px;
    justify-content: center;
    margin-top: 1.9rem;
    border: solid 1px black;
    padding: 1.2rem;
  }

  table {
    table-layout: fixed;
    width: 400px;
  }

  .instructions {
    margin-left: 1.9rem;
  }
  
  /* Mobile Rules */
  
  @media screen and (max-width: 425px) {
    header {
      visibility: hidden;
      display: flex;
      align-items: center;
      position: relative;
      width: 100%;
      height: fit-content;
    }

    #headerimage {
      visibility: visible;
      min-width: 100%;
      height: auto;
    }

    header img {
      max-width: none;
      max-height: none;
    }

    .mission {
      max-width: 320px;
    }

    .missionstatement p {
     position: relative;
    }

  .recipesection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1.9rem;
    border: solid 1px black;
    padding: 1.2rem;
    }

    table {
    table-layout: fixed;
    max-width: 400px;
    }
  }
  
  /* Tablet Rules */
  
  @media screen and (max-width: 1194px) {
    .mission img {
      display: none;
    }
  }
  
  /* Laptop Rules */
  @media screen and (max-width: 1980px) {
    .recipecategories {
      max-width: 1200px;
    }
  }
  
  /* Desktop Rules */
  
  @media screen and (min-width: 1980px) {
    .categories {
      min-width: 1980px;
    }
  }
  